.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    padding: 8px;
    width: 30%;
    align-content: center;
}

button {
    margin-top: 20px;
    padding: 10px 10px;
    width: 31.3%;
}

h2 {
    color: red;
    font-size: 30px;
}

p {
    font-weight: bold;
}

body {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}